 /* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    html, button, input, select, textarea { font-family: sans-serif; color: #222; }
    body { margin: 0; font-size: 1em; line-height: 1.4; }

    ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
    ::selection { background: #fe57a1; color: #fff; text-shadow: none; }

    a { color: #00e; }
    a:visited { color: #551a8b; }
    a:hover { color: #06e; }
    a:focus { outline: thin dotted; }
    a:hover, a:active { outline: 0; }

    abbr[title] { border-bottom: 1px dotted; }
    b, strong { font-weight: bold; }
    blockquote { margin: 1em 40px; }
    dfn { font-style: italic; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    ins { background: #ff9; color: #000; text-decoration: none; }
    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
    pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }
    small { font-size: 85%; }

    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
    dd { margin: 0 0 0 40px; }
    nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

    svg:not(:root) { overflow: hidden; }

    figure { margin: 0; }

    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
    button[disabled], input[disabled] { cursor: default; background-color: #777}
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

    /* ===== Primary Styles ========================================================
       Author:
       ========================================================================== */
     body {
          background: #fcfcfc;
          background: -moz-linear-gradient(-45deg,  #fcfcfc 0%, #707070 100%);
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fcfcfc), color-stop(100%,#707070));
          background: -webkit-linear-gradient(-45deg,  #fcfcfc 0%,#707070 100%);
          background: -o-linear-gradient(-45deg,  #fcfcfc 0%,#707070 100%);
          background: -ms-linear-gradient(-45deg,  #fcfcfc 0%,#707070 100%);
          background: linear-gradient(135deg,  #fcfcfc 0%,#707070 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#707070',GradientType=1 );
          background-repeat: no-repeat;
          background-attachment: fixed;
          text-align: left; font-size: 1.0em; font-family: sans-serif;
          line-height: 1.3em;
          color:#333; height:100%;
        }
    .box {padding-top:10px; padding-bottom:0px; text-shadow: 1px 1px 1px #CDCDCD;}
    #sending {display: none;}
    #wrapform {height: 40px;}
    #progress {display: inline;  border-collapse: separate; empty-cells: show;
               border-spacing: 10px 0; padding: 0; vertical-align: bottom;}
    #progress td {height: 10px; width: 13px; background-color: #eee;
                  border: 1px solid #aaa; padding: 0px;}

    #station {font-size: 50%; }


    .shoutbox_content {
       border-top: 1px solid #777;
       border-bottom: 1px solid #777;
       text-align: left;
       min-height:  50px;
       height:      25%%;
       max-height:  150px;
       overflow-y: scroll;
    }
    .shoutbox_content p{margin:0; padding:0; font-family: monospace;}

    .date		{ font-size: 0.8em; color: #666666;}
	.name        { color:#444; }
	.shout		{   }
	.shout.def	{ color: #333 }
	.shout.blue	{ color: #0000FF }
	.shout.green	{ color: #008000 }
	.shout.orange	{ color: #FF8040 }
	.shout.red	{ color: #FF0000 }


    header, footer{text-align: center;}
    .main{width:70%; margin:0 auto 0 auto;}

    #message{
    	text-align: center; 
    	font-size:1.5em; text-indent: 0.2em; line-height: 1.5em;
    }
    #message ol{margin: 0;padding: 0;}

    #sb_form{}
    #sb_form h3{display: inline-block;vertical-align: top;}
    #sb_form ul{display: inline-block;}
    #sb_form li{display: inline-block;}
    #sb_form li label{display: block;}
    #sb_form li label input{display: block;}
    #sb_form .color_choice{display: block;}
    #sb_form .color_choice fieldset{padding: 0.5em; border:1px solid #777; width:20em;}
    #sb_form .color_choice fieldset label{display:inline-block; margin:0 1em 0 0;}
    #sb_form .color_choice fieldset label input{display:inline-block; margin:0 0.5em 0 0;}

    
    /* =============================================================================
       Media Queries
       ========================================================================== */

    @media only screen and (min-width: 35em) {
      /* Style adjustments for viewports that meet the condition */
    }

    /* =============================================================================
       Non-Semantic Helper Classes
       ========================================================================== */

    .ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
    .ir br { display: none; }
    .hidden { display: none !important; visibility: hidden; }
    .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
    .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
    .invisible { visibility: hidden; }
    .clearfix:before, .clearfix:after { content: ""; display: table; }
    .clearfix:after { clear: both; }
    .clearfix { *zoom: 1; }